body {
    background-image: url(img/BG.png);
    background-color: #06193d;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
    color: #06193d;
    font-size: 1.25em;
}

#divForeground {
    width: 90%;
    background-color: #dcd8cd;
    margin: auto;
    padding: 0px;
    box-shadow: 0px 0px 10px #000000;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius:1px;
}

#banner {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    clear: none;
}

#divContent {
    width: 90%;
    margin: auto;
    padding: 0px;
    text-indent: 2em
}

#title {
    text-align: center;
    font-size: 2.5em;
    padding: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px
}

#smallImage {
    float: right;
    width: 20%;
    height: 20%;
    padding: 5px
}

#person {
    width: 100%;
    height: 150px;
    padding: 5px
}

#personTag {
    text-align: center;
    font-size: 1.75em;
    padding: 0px;
    margin: auto ;
}

#navHr {
    color: #06193d;
    background-color: #06193d;
    border: none;
    width: 100%;
    height: 4px;
    padding: 0px;
    margin: 0px;
}

#line {
    color: #06193d;
    background-color: #06193d;
    border: none;
    width: 50%;
    height: 4px;
    padding: 0px;
    margin: auto;
}

#graphics {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
}

#imgBanner {
    width: 100%;
    height: 50%;
    margin: auto;
}

#navBar {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: #06193d;
}

#addInfo {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.25em;
    color: #06193d;
}

#navBar a {
    display: block;
    color: #000;
    text-decoration: none;
}

#navBar a:hover {
    color: #000;
    background: #B9B9B9;
    text-decoration: none;
}

#navBar a.selected {
    color: #000;
    background: #B9B9B9;
    text-decoration: none;
}

#source {
    font-size: 15px;
    list-style-type: square;
}

#copyright {
    font-size: 15px;
    color: #424242;
    text-align: center;
}
#contact{
  text-align: left;
}

#in {
    width: 400px;
}